.header{
	position: fixed;
	left: 0px;
	top: 0;
	z-index: 1000;
	background: #191b2e;
	width: 200px;
	color: #b2b4c4;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.touxiang{
	margin-top: 50px;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.touxiang .touxiang_img{
	margin-top: 20px;
	width: 60px;
	height: 60px;
	background: red;
	border-radius: 50%;
}
.touxiang .touxiang_img img{
	border-radius: 50%;
}
.touxiang .userNam{
	margin-top: 10px;
	width: 160px;
	height: 20px;
	font-size: 30px;
	color:red;
	text-align: center;
}

/*导航*/
.menu{
	margin-top: 50px;
}

.top{
	height: 200px;
	background: url(../../static/贪玩蓝月.jpg);
	background-repeat: no-repeat;
	background-size: 100% 120%;
}
.content{
	height: 600px;
	width: 100%;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../../static/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.personal,.myDesige,.notice,.ko{
	margin-left: 25%;
	width: 100%;
	height: 520px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content .personal li{
	display: flex;
	flex-direction: row;
	width: 380px;
	margin-bottom: 20px;
}
.content .personal li .left{
	width: 20%;
	text-align: right;
	line-height: 40px;
	margin-right: 10px;
}

.all_myDesing{
	width: 100%;
	height: 320px;
}
.biaoqian{
	display: flex;
}
.biaoqian>div{
	/*margin-top: 100px;*/
	text-align: center;
	line-height: 40px;
	width: 180px;
	height: 40px;
}
.myDesige .cont{
	width: 100%;
	height: 520px;
	overflow:scroll; 
}
.goods{
	background: #fff;
	width: 80%;
	margin-left: 35px;
	height: 150px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.goods>div{
	display: inline-block;
	width: 200px;
	line-height: 40px;
	text-align: center;
}
.goods .img{
	margin-top: 15px;
}
.goods>div img{
	width: 120px;
	height: 150px;
}
.myDesige{
	display: flex;
	justify-content: center;
}
.btn_add{
	margin:0 auto;
	width: 200px;
}



/*底部*/


.tags{
	margin-top: 100px;
}
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer{
	width: 100%;
	bottom: 0px;
	position: fixed;
	height: 100px;
	background: #ccc;
	margin-top: 30px;
	font-size: 20px;	
	color: blue;
	border-top: 2px solid #000000;
}
.footer>div{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	/*align-items: center;*/
}
.footer span{
	width: 100px;
}
#paomadeng{
	height: 200px;
	font-size: 40px;
	color:#fff;
	line-height: 200px;
}
#video{
	margin-left: 400px;
}