
*{
  padding: 0;
   margin: 0;
 } 
 .gouwuche{
    background: #f3f0f0;
 }
.header{
  margin-top: 60px;
  width: 100%;
  height: 200px;
  background:url(../../static/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  line-height: 100px;
}

.goods{
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  background: #FFF;
  border: 1px solid #CCC;
}
.goods .img{
  margin-left: 50px;
  width: 120px;
  display: flex;
  text-align: center;
}
.goods img{
  width: 75px;
  height: 105px;
}
.goods .product_name{
  width: 220px;
  height: 105px;
text-align: center;
  line-height: 105px;
}
.goods .order_number{
  width: 120px;
  height: 105px;
  text-align: center;
  line-height: 105px;
}
.goods .order_number{
  width: 120px;
  height: 105px;
  text-align: center;
  line-height: 105px;
}
.goods .order_money{
  width: 120px;
  height: 105px;
  text-align: center;
  line-height: 105px;
}
.goods .ckecked{
  width: 60px;
  height: 105px;
  position: relative;
}
.goods .ckecked #checkbox{
  position: absolute;
  top: 50%;
  left: 50%;
}
.goods .btn{
  width: 100px;
  height: 105px;
  position: relative;
}
.btn:first-child{
  margin-left: 200px;
}
.goods .btn #btn_by,.goods .btn #btn_delete{
  position: absolute;
  top: 30%;
  left: 20%;
}

/*底部*/
.bottom{
  border: 1px solid #ccc;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 1px;
  display: flex;
  background: #fff;
  z-index: 100;
}
.ck{
  width: 20%;
  height: 100%;
  
}
#box{
  margin-top: 30px;
  margin-left: 50px;
}
#sum_money{
  width: 90%;
  height: 100%;
  text-align: right;
  font-size: 23px;
  line-height: 70px;
  margin-right: 20px;
}
#btn{
  width: 10%;
  height: 100%;
  margin-top:5px;
}
#toBy{
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

/*导航栏*/
.header_menu{
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0px;
}
.header_menu li{
  margin-left:50px; 
}
#yijngfukuan{
  display: block;
  width: 100px;
  height: 48px;
  margin-left: 400px;
}
.Address{
  width: 600px;
}