*{
  padding: 0;
  margin: 0;
}
 #welcome{
  float: left;
  margin-left: 20%;
    color: white;
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 20px;
    /*margin: 1.5em 0 1em;*/
    font-family: 'Roboto Slab', serif;
 }
 #weiyi{
  position: relative;
  top: 100px;
  left: -550px;
  color: white;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1em;
    size: 30px;
    font-family: 'Roboto Slab', serif;
 }
.login,.regester{
  width: 400px;
  height: 560px;
  position: relative;
  top: 40%;
  left: 60%;
  background-color: rgba(0,0,0,0.6);
  color: white;
}

video{
  width: auto;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
  background-color: blue;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.rule{
  margin-top: 20px;
  margin-bottom: 20px;
}
.el-form-item__content{
  display: flex;
}
.left{
  width: 70px;
  display: inline-block;
}
.right{
  width:100px; 
  display: inline-block;

}
.btn{
  display: flex;
  justify-content: center;
}
.login #login_username{
    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
    display: flex;
}
.login #login_password{
  margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
    text-align: right;
    display: flex;
}
#login_login{
    background-color: #409EFF;
    height: 30px;
    width: 80px;
}
#login_regesiter{
  border: none;
  color: #Fff;
    background-color: #409EFF;
    height: 30px;
    width: 80px;
}

.regester #regesiter_username{
    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
    display: flex;
}
.regester #regesiter_password{
  margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
    display: flex;
}
.regester #regesiter_repassword{
  margin-top: 20px;

    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
    display: flex;
}
.regester #regesiter_tel{
  margin-top: 20px;

    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
    display: flex;
}
.regester #regesiter_username{
  margin-top: 20px;

    margin-left: 30px;
    margin-right: 20px;
    text-align: right;
    display: flex;
}


#regesiter_submit{
  border: none;
  color: #Fff;
    background-color: #409EFF;
    height: 30px;
    width: 80px;
}
#regesiter_reset{
  border: none;
  color: #Fff;
    background-color: #409EFF;
    height: 30px;
    width: 80px;
}
#regesiter_quxiao{
  border: none;
  color: #Fff;
    background-color: #409EFF;
    height: 30px;
    width: 80px;
}