*{
    padding: 0;
    margin: 0;
}
.header{
   height: 200px;
   background-image: url("../../static/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
}
.header .left{
    width: 40%;
}
.header .right{
    width: 60%;
    display: flex;
    float: right;
}
.header .touxiang{
    margin-left: 50px;
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: red;
}
.header .userNam{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 25px;
}
.header .right .icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header .right>div{
    width: 200px;
    margin:100px 10px 0 10px;
    cursor: pointer;
}
.header .right>div:first-child{
    margin-left: 300px;
}
.header .right>div>div:last-child{
    margin-left: -15px;
}
li{
    text-align: center;
    font-size: 20px;
    list-style:none;
    border-bottom:2px solid #ccc;
}
.myinfor{
    font-size: 20px;
    color: red;
}
#btn_add_address{
    height: 30px
}
.cont{
    margin-left:200px;

}
.myinfor li{
    font-size: 26px;
    color: red;
    margin-left: 200px; 
}
.myinfor li span{
    margin-left: 100px;
}

.btn_updata{
    margin-left: 100px;
    width: 100px;
    height: 40px;
}
.infor_title{
    font-size: 25px;
    color:red;
}
.order_money{
    line-height: 50px;
}
.order_money span{
    margin-top: 20px;
}
.el-collapse-item__header{
    font-size:25px;
    color:red;
}
/*底部*/


.tags{
    margin-top: 100px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    height: 100px;
    background: #ccc;
    margin-top: 30px;
    font-size: 20px;    
    color: blue;
    border-top: 2px solid #000000;
}
.footer>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    /*align-items: center;*/
}
.footer span{
    width: 100px;
}